body {
	color: #fff;
	background-color: #000000;
	font-size: 16px;
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

header {
	color: #999;
	display: block;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	padding: 10px 30px;
	font-weight: bold;
}

header h1 {
	color: #666;
}

a {
	text-decoration: none;
	display: inline-block;
	max-width: 300px;
	border: 1px solid #aaa;
	background-color: #555;
	margin: 25px;
	padding: 15px 25px;
	color: #aaa;
}

a:hover {
	background-color: #777;
	color: #eee;
}

a img {
	max-width: 100%;
	border: none;
}
